# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env*.local
.env

# Firebase
firebase-debug.log
.firebase/
.firebaserc

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Testing
coverage/
